body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7e6666;
}

.phone {
    width: 280px;  /* Typical width of a mobile phone */
    height: 610px; /* Typical height of a mobile phone */
    border: 16px solid black;
    border-radius: 36px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    position: relative;
    background-image: url('Kuning\ dan\ Merah\ Muda\ Illustration\ Cute\ Phone\ Wallpaper.png');
    background-size: cover;
}

.phone::before {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #333;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: calc(50% - 30px);
}

.screen {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Kuning\ dan\ Merah\ Muda\ Illustration\ Cute\ Phone\ Wallpaper.png');
    background-size: cover;
}
.btnmasukin{
    padding: 8px;
    width: 130px;
    border-radius: 5px;
    margin-top: 500px;
    cursor: pointer;
}
.btnmasukin a{
    text-decoration: none;
}