body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7e6666;
}

.phone {
    width: 280px;  /* Typical width of a mobile phone */
    height: 610px; /* Typical height of a mobile phone */
    border: 16px solid black;
    border-radius: 36px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    position: relative;
}

.phone::before {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #333;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: calc(50% - 30px);
}

.screen {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.makeakunbtn{
    position: absolute;
    top: 30px;
    left:10px;
}
.makeakun form{
    margin-top: -50px;
    margin-left: 2px;
}
.makeakunform h1{
    position: absolute;
    top:85px ;
    left:25px ;
    font-size: 24px;
}
.makeakunp{
    position: absolute;
    top:120px ;
    left: 25px;
    font-size: 12px;
}
.lupapassword{
    text-decoration: none;
    color: rgb(228, 7, 7);
    font-size: 12px;
    float: left;
    padding:10px;

}
.lupapassword:hover{
    color: rgb(167, 12, 12);
}
.gname{
    margin-bottom: 10px;
}
.gname input{
    padding: 5px;
    width: 260px;
    height: 23px;
    border-radius: 3px;
    border: none;
    background-color: #82808025;
    outline: none;
    padding-left: 7px;
    text-indent: 10px;
}
.gname input:focus{
    border:2px solid rgb(165, 71, 9);
    border-radius: 3px;
}
.gname label{
    font-weight: bold;
    color: #161414;
    margin-bottom: -15px;
    display: block;
    text-align: left;
}
.gname ::placeholder{
    font-size: 10px;
    opacity: 0.5;
    padding: 4px 4px 4px 1px;
}
.btnmasuk{
    width: 271px;
    height: 39px;
    border: none;
    border-radius: 5px;
    background-color: #af3514;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btnmasuk:hover{
    background-color: #631c11fa;
}
.belumpunyaakun-p{
    color: #807c7cf3;
    font-size: 13px;
}
.belumpunyaakun-a{
    text-decoration: none;
    color: #ff1818;
    
}
.ataulgn{
    font-size: 13px;
    position: absolute;
    top:440px;
    left: 33px;
    color: #16141497;
}
.btn{
    width: 230px;
    height: 36px;
    position: absolute;
    top:490px;
    background-color: #ffffff;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.408);
}
.btn:hover{
    background-color: #7d71712f;
    cursor: pointer;
}
.btn img {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.apple{
    width: 230px;
    height: 36px;
    position: absolute;
    top: 534px;
    background-color: #f8f8f874;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.337);

}
.apple:hover{
    background-color: #7d71712f;
    cursor: pointer;
}
.apple img {
    width: 10px;
    height: 10px;
    margin-left: -1px;
    margin-right: 10px;     
}